<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
 
    <section class="banner">
      <div class="container">
        <div class="d-flex w-100 flex-column align-items-end">
          <p>Promise-Desert 2020 早春系列</p>
          <h1 class="text-dark">看得清，才能看得遠</h1>
          <button class="fz-2">立即購買</button>
        </div>
      </div>
    </section>
  
    <section class="abouts text-center py-10">
      <div class="container">
        <h2 class="text-dark">用專業的心，做專業的事</h2>
        <ul class="d-flex justify-content-between text-dark flex-wrap">
          <li class="about-item">
            <img class="mt-3" src="../assets/images/home-section2-1.png" alt="icon">
            <h4 class="mt-2">單一價格</h4>
            <p class="mt-1 text-justify">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="about-item">
            <img class="mt-3" src="../assets/images/home-section2-2.png" alt="fast">
            <h4 class="mt-2">20 分鐘即可取件</h4>
            <p class="mt-1 text-justify">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="about-item">
            <img class="mt-3" src="../assets/images/home-section2-3.png" alt="service">
            <h4 class="mt-2">安心售後服務</h4>
            <p class="mt-1 text-justify">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="about-item">
            <img class="mt-3" src="../assets/images/home-section2-4.png" alt="about us">
            <h4 class="mt-2">關於鏡片</h4>
            <p class="mt-1 text-justify">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
  
    <section class="classic py-10 text-center">
      <div class="container">
        <h2 class="text-dark">經典系列鏡框</h2>
        <ul class="w-100 mt-3 mt-sm-0 d-flex justify-content-between">
          <li>
            <div class="mt-3">
              <img src="../assets/images/home-section3-1.png" alt="OPTICAL">
              <h3 class="mt-1 text-italic">OPTICAL</h3>
            </div>
          </li>
          <li>
            <div class="mt-3">
              <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES">
              <h3 class="mt-1 text-italic">SUNGLASSES</h3>
            </div>
          </li>
          <li>
            <div class="mt-3">
              <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL">
              <h3 class="mt-1 text-italic">FUNCTIONAL</h3>
            </div>
          </li>
        </ul>
      </div>
    </section>
  
    <section class="jointDesign py-10 text-center">
      <div class="container">
        <h2 class="text-white">聯名設計鏡框</h2>
        <ul class="d-flex mt-3 mt-sm-0">
          <li class="mt-3">
            <div class="photo">
              <img class="d-sm-none" src="../assets/images/home-section4-1.png" alt="double">
              <img class="d-none d-sm-block" src="../assets/images/home-section4-1-sm.png" alt="double-sm">
            </div>
            <h3 class="bg-white text-italic">DOUBLE A+</h3>
          </li>
          <li class="mt-3">
            <div class="photo">
              <img class="d-sm-none" src="../assets/images/home-section4-2.png" alt="youth">
              <img class="d-none d-sm-block" src="../assets/images/home-section4-2-sm.png" alt="youth-sm">
            </div>
            <h3 class="bg-white text-italic">YOUTH</h3>
          </li>
        </ul>
      </div>
    </section>
  
    <section class="recommend py-10">
      <div class="container">
        <h2 class="text-center text-dark">顧客推薦</h2>
        <ul class="row w-100 d-flex flex-wrap mx-auto mt-3 mt-sm-0">
          <li class="mt-3">
            <div class="card">
              <img src="../assets/images/home-section5-1.png" alt="Jessy">
              <div class="card-body p-2 d-flex flex-column">
                <div class="name">Jessy</div>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                <div class="fz-s mt-auto">2021/06/20</div>
              </div>
            </div>
          </li>
          <li class="mt-3">
            <div class="card">
              <img src="../assets/images/home-section5-2.png" alt="凱倫">
              <div class="card-body p-2 d-flex flex-column">
                <div class="name">凱倫</div>
                <p class="mt-1">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <div class="fz-s mt-auto">2021/04/18</div>
              </div>
            </div>
          </li>
          <li class="mt-3">
            <div class="card">
              <img src="../assets/images/home-section5-3.png" alt="悠悠">
              <div class="card-body p-2 d-flex flex-column">
                <div class="name">悠悠</div>
                <p class="mt-1">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <div class="fz-s mt-auto">2020/12/25</div>
              </div>
            </div>
          </li>
          <li class="mt-3">
            <div class="card">
              <img src="../assets/images/home-section5-4.png" alt="Kyuan">
              <div class="card-body p-2 d-flex flex-column">
                <div class="name">Kyuan</div>
                <p class="mt-1">服務很好，品質沒有任何問題，非常喜歡。</p>
                <div class="fz-s mt-auto">2020/10/31</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="contact py-10 bg-light">
      <div class="container">
        <h2 class="text-center text-dark">聯絡我們</h2>
        <form action="index.html" class="mt-3 mt-sm-0">
          <p class="fz-1 mt-3 text-justify">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <div class="mt-3">
            <label for="name" class="mt-2">姓名</label>
            <input class="form-contral mt-1" type="name" id="name" name="name" placeholder="陳小明">
          </div>
          <div class="mt-2">
            <label for="tel" >聯絡電話</label>
            <input class="form-contral mt-1" type="tel" id="tel" name="tel" placeholder="0912-345-678">
          </div>
          <div class="mt-2">
            <label for="mail">電子郵件</label>
            <input class="form-contral mt-1" type="text" id="mail" name="mail" placeholder="example@gmail.com">
          </div>
          <div class="mt-2">
            <label for="myOpinion">
              <p>意見反應</p>
              <textarea class="form-contral mt-1" rows="5" id="myOpinion" name="myOpinion" placeholder="請輸入您的意見" spellcheck="false"></textarea>
            </label>
          </div>    
          <div class="mt-2">
            <label for="checkOk" class="d-flex align">
              <input type="checkbox" id="checkOk" class="checkbox">
              <span class="mt-05">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span>
            </label>
          </div>
          <div class="mt-6 text-center">
            <input class="button btn-submit" type="submit" value="確認送出">
          </div>
        </form>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
